.container__details {   
    border-radius: 30px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: $bg-light;
    box-shadow: 4px 4px 4px #0000001a;
    @include themify($themes) { 
        color: themed('text-color');
        background: themed('background') ;
    }
}

.btn__btn-primary{
    height: 55px ;
    width: 200px;
    background-color:$icon-color;
    border-style: none;
    border-radius: 20px;
    color: aliceblue;
}

a {
    margin-top: 10px;
    color:$icon-text-color;
    justify-content:flex-start;
}
h1 {
    justify-content: center;
    
}

h4 {
    
    margin-top: 10px;
    justify-self: center;
}
p {
    margin-bottom: 20px;
    margin-top: 20px;
    justify-self: center;
}