@import '../themes';

.eventItem__container{
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 50px;
  cursor: pointer;

  transition: ease .4s;
  @include themify($themes) { 
    color: themed('text-color');
  }

  &:hover{
    @include themify($themes) { 
      color: themed('text-color');
      background: themed('background-project') ;
    }
  }

  .label{
    margin: 0;
    width: auto;

    &.title{
      width: 40%;
      font-weight: 300;
      font-size: 1.2em;
      text-transform: capitalize;
    }

    &.type{
      width: 20%;
      font-weight: normal;
    }
    &.date{
      width: 20%;
      font-weight: 300;
    }
    &.status{
      width: 20%;
      font-weight: bold;
    }
  }
}