@import '../_vars';

  .layout__header{
    grid-column: 2;
    grid-row: 1;
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .layout__header--logo{
        max-width: 230px;
        cursor: pointer;
        @media (max-width: $md) {
          max-width: 200px;
        }
      @media (max-width: $sm) {
        max-width: 150px;
        }
    }
    
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        
         li{
            @include themify($themes) { 
                color: themed('text-color');
              }
            margin: 15px;
            cursor: pointer;
            display: flex;
            align-items: center;

            span{
              @media (max-width: $sm) {
                display: none;
                
                }
            }

            @media (max-width: $md) {
              margin: 10px;
            }
          @media (max-width: $sm) {
            margin: 5px;
            }
            
            
            .layout__header--user{
                background-color: $icon-color ;
                border-radius: 50%;
                padding: 10px;
                align-items: center;
                font-size: 32px;
                margin-right: 10px;
                
                @media (max-width: $md) {
                  font-size: 26px;
                }
              @media (max-width: $sm) {
                font-size: 20px;
                }
                
            }
            .layout__header--icon{
                font-size: 32px;
                @media (max-width: $md) {
                  font-size: 26px;
                }
              @media (max-width: $sm) {
                font-size: 20px;
                }
            
            }
        }
    
    }

    .user__container{
      cursor:initial;
      .username {
        margin: 0;
        margin-left: 12px;
        font-weight: bold;
        @include themify($themes) { 
          color: themed('text-color');
        }
      }
      .profilePicture{
        max-width: 52px;
        max-height: 52px;
        border-radius: 50%;
      }
    }
  }

