@import '../_vars';

  .layout__header{
    grid-column: 2;
    grid-row: 1;
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid $bg-light;

    .layout__header--logo{
        max-width: 230px;
        cursor: pointer;
    }
    
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        
         li{
            @include themify($themes) { 
                color: themed('text-color');
              }
            margin: 15px;
            cursor: pointer;
            display: flex;
            align-items: center;
            
            .layout__header--user{
                background-color: $icon-color ;
                border-radius: 50%;
                padding: 10px;
                align-items: center;
                font-size: 32px;
                margin-right: 10px;
                
            }
            .layout__header--icon{
                font-size: 32px;
            
            }
        }
    
    }
  }

