@import '../themes';

.app__wrapper{
    transition: ease .8s;

    min-width: 100vw;
    min-height: 100vh;

    @include themify($themes) { 
        background: themed('background');
        color: themed('text-color');
    }
}