
.layout{
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 20px auto 50px;
  height: 100vh;
  min-height: 500px;
  @include themify($themes) { 
    background: themed('background');
  }
  

  &__content{
    overflow: hidden;
    grid-column: 2;
    grid-row: 2;
    padding: 1rem;
    margin: 1rem;
    border-radius: 30px;
    box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.1) ;
    @include themify($themes) { 
      background: themed('backgroundMain');
    }

  }
  
}
