@import url(https://fonts.googleapis.com/css?family=Roboto:500);


.mainc{
    @include themify($themes) { 
        background: themed('background') ;
      }
    
}
.main__container {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    @include themify($themes) { 
        color: themed('text-color');
        background: themed('background') ;
    }
}
.container-theme{
    display: flex;
    justify-content: flex-end;
    font-size: 32px;
    padding: 30px 50px 20px 0px;
    @include themify($themes) { 
        color: themed('text-color');
        background: themed('background') ;
      }
   
}

.login__container {
    width: 478px;
    height: 450px; 
    margin-top: 0px;
    border-radius: 48px;
    background: $container-color ;
    box-shadow: 2px 4px 4px #0000001a;
    opacity: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include themify($themes) { 
        color: themed('text-color');
        background: themed('backgroundMain') ;
      }

    .logo__container{
        margin: 24px 0;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        img{
            width: 70%;
            height: auto;
        }
    }

    h2{
        margin: 0;
        margin: 24px 0;

    }
}


.input__container {  
display:flex;
flex-direction: column;
justify-self: center;
}

.login__container--p  {
    justify-self: left;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 40px;
}

.login__container--input { 
    /* margin-left: 40px; */
    width: 100%;
    height: 55px;  
    font-size: 24px;  
    justify-self: center; 
    border: 1px solid $icon-color;
    border-radius: 13px;
    @include themify($themes) { 
        color: themed('text-color');
        background: themed('backgroundInput') ;
      }
}

.login__container--div{
    margin-left: 20px;
}

.login__container--btn{  
    height: 55px ;
    width: 400px ;
    justify-self: center;
    cursor: pointer;
    background: $icon-color ;
    color: $icon-text-color;
    margin: 20px 0px 0px 5px;
    border-style: none;
    border-radius: 39px;
    margin-left: 40px;
    opacity: 1;
    margin: 0;
    margin: 24px 0;

}

.login__container--btn img{
    display: inline-block;
    margin-left: 60px;
    margin-top: -5px;
    width: 30px ;
    height: 20px ;
}
.login__container--btn p {
    display: inline-block;
    font-size: 20px;
    padding-left: 20px;
    margin-right: 80px;
    margin-bottom:1px ;
}

.login__container--p2 { 
    font-size: 14px;
    font-family: 'Poppins';
    font-weight:lighter ;
    color: #838383;
    text-align: left;
    margin-top: 65px;
    margin-left: 50px;
}
.google-btn { 
    width: 400px;
    height: 55px;
    background-color: $google-blue;
    border-radius: 39px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);

.google-icon-wrapper { 
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 53px;
    height: 53px;
    border-radius: 39px;
    background-color: $white;
}

.google-icon {
    position: absolute;
    margin-top: 17px;
    margin-left: -8px;
    width: 18px;
    height: 18px;
}

.btn-text {
    float: right;
    margin: 18px 120px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}

&:hover {
    box-shadow: 0 0 6px $google-blue;
}
&:active {
    background: $button-active-blue;
}

}

.login__container--p2 span {
    font-weight: bold;
}



