@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background: $bg-light;font-family: 'Poppins', sans-serif; 

}

.login__container {
    width: 478px;
    height: 600px; 
    margin-top: 30px;
    border-radius: 48px;
    background: $container-color ;
    box-shadow: 2px 4px 4px #9D9D9D1A;
    opacity: 1;
}

.login__container svg {
    margin-left: 60px;
    margin-top: 20px;
    color: $icon-color; 
    margin-bottom: 45px;
    font-size: 57px;
}

.input__container {  
display:flex;
flex-direction: column;
justify-self: center;
}

.login__container--p {
    justify-self: left;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 40px;
}

.login__container--input { 
    margin-left: 40px;
    width: 400px;
    height: 55px;  
    font-size: 24px;  
    justify-self: center; 
    border: 1px solid $icon-color;
    border-radius: 13px;
}

.login__container--div{
    margin-left: 20px;
}

.login__container--btn{  
    height: 55px ;
    width: 400px ;
    justify-self: center;
    cursor: pointer;
    background: $icon-color ;
    color: $icon-text-color;
    margin: 20px 0px 0px 5px;
    border-style: none;
    border-radius: 39px;
    margin-left: 40px;
    opacity: 1;
}

.login__container--btn img{
    display: inline-block;
    margin-left: 60px;
    margin-top: -5px;
    width: 30px ;
    height: 20px ;
}
.login__container--btn p {
    display: inline-block;
    font-size: 20px;
    padding-left: 20px;
    margin-right: 80px;
    margin-bottom:1px ;
}

.login__container--p2 { 
    font-size: 14px;
    font-family: 'Poppins';
    font-weight:lighter ;
    color: #838383;
    text-align: left;
    margin-top: 65px;
    margin-left: 50px;
}
.google-btn { 
    width: 400px;
    height: 55px;
    background-color: $google-blue;
    border-radius: 39px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);

.google-icon-wrapper { 
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 53px;
    height: 53px;
    border-radius: 39px;
    background-color: $white;
}

.google-icon {
    position: absolute;
    margin-top: 17px;
    margin-left: -8px;
    width: 18px;
    height: 18px;
}

.btn-text {
    float: right;
    margin: 18px 120px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}

&:hover {
    box-shadow: 0 0 6px $google-blue;
}
&:active {
    background: $button-active-blue;
}

}

.login__container--p2 span {
    font-weight: bold;
}



