
.main__container {
    display: grid;
    grid-template-columns: 1fr 478px 1fr ;
    grid-template-rows:  50px 653px 50px;
    background:#F0F4F9;
    font-family: 'Poppins', sans-serif;
    @include themify($themes) { 
        background-color: themed('background') ;
      }

    // TODO: @Antonn you need to set a full width and height to your main component, you can use min-height and min-width properties

    // TODO: @Antonn this component is very simple, maybe there is no need to use grid, you could du something like this =>

    // display: flex;
    // justify-content: center;
    // align-items: center;
    // min-width: 100vw;
    // min-height: 100vh;
}

.login__container {
    // TODO: @Antonn same here, think if it is worth to use grid instead of flexbox

    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;   
   /* width: 478px;
    height: 653px; */
    border-radius: 48px;
    @include themify($themes) { 
        color: themed('text-color');
        background: themed('backgroundMain') ;
      }
    /* background:#FFFFFF ; */
    box-shadow: 2px 4px 4px #9D9D9D1A;
    opacity: 1;
}

.login__container svg {
    margin-left: 25px;
    margin-top: 20px;
    color: #F89F26; /*TODO: @Antonn remember that we use vars, try to use it */
    justify-self: center;
    font-size: 57px;
}
.input__container {  
display:flex;
flex-direction: column;
justify-self: center;
/*background-color: #F89F26; */
}

.login__container--p {
    justify-self: left;
    font-weight: bold;
    margin-bottom: 5px;
}

.login__container--input { 
    width: 400px;
    height: 55px;  
    font-size: 24px;  
    justify-self: center; 
    border: 1px solid #F89F26;
    border-radius: 13px;
    @include themify($themes) { 
        color: themed('text-color');
        background: themed('backgroundInput') ;
      }
}

.login__container--btn{  
    height: 55px ;
    width: 400px ;
    justify-self: center;
    cursor: pointer;
    background: #F89F26 ;
    color: #FFFFFF;
    border-style: none;
    border-radius: 39px;
    opacity: 1;
}

.login__container--p2 { 
    
    font-size: 16px;
    font-family: 'Poppins';
    font-weight:lighter ;
    color: #838383;
    text-align: left;
    margin-left: 20px;
}
.login__container--p2 span {
    font-weight: bold;
}