
.container{
  /*   margin-top: 40px;
    margin-left: 10px; */
}

.container a{
    font-size: 12px;
    font-weight: bold;
}

.container__h1 {
    display: flex;
    color: #000;
    font-size: 50px;
    margin-bottom: 5px;
}

.container h4 {
    font-weight: lighter;
    color: rgb(194, 194, 194);
    margin-bottom: 35px;
}

.container p {
    font-weight:500;
    margin-bottom: 3px;
    text-align: left;
    @include themify($themes) { 
        color: themed('text-color');
      }

}

.login__container--input{
    margin-bottom: 35px;
    
}

.btn-primary{
    height: 55px ;
    /* width: 400px; */
}