.container{
    margin-top: 40px;
    margin-left: 10px;
}
.container a{
    font-size: 12px;
    font-weight: bold;
}
.container h1 {
margin-bottom: 10px;
}
.container h4 {
    font-weight: lighter;
    color: rgb(194, 194, 194);
    margin-bottom: 40px;
}

.container p {
    font-weight:500;
}
.login__container--input{
    margin-bottom: 50px;
}

.btn-primary{
    height: 55px ;
    width: 400px;
}