@import '../vars';
.blog-wrapper{
	padding:15px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:wrap;
	font-size: 32px;
	.blog-card{
		width: 100%;
		max-width:95%;
		margin:15px;
		@include themify($themes) { 
			color: themed('text-color');
			background: themed('backgroundInput') ;
		  }
		
		border:1px solid $icon-color;
		border-radius: 30px;
		text-align:center;
		&:hover{
			box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
			
		}
		.card-img{
			position:absolute;
			text-align:center;
			background:$icon-color;
			
			h1{
				/* position:absolute; */
				margin:0;
				/* bottom:15px; */
				width:100%;
				color:$text-color;
			}
		}
		.card-details{
			margin-top:30px;
			@include themify($themes) { 
				color: themed('text-color');
				
			  }
			span{		
				padding:0 30px;
				i{
					margin-right:5px;
				}
				
			}
		}
		.card-text{
			padding:30px 15px;
			line-height:22px;
		}
		.read-more{
			display:inline-block;
			width:auto;
			text-align:center;
			text-transform:uppercase;
			background:$icon-color;
			border-radius: 20px;
			color:#fff;
			padding:15px;
			margin-bottom:30px;
			&:hover{
				background: darken($icon-color,20%);
			}
		}
	}
}