@import '../_vars';
@import '../themes';

.sideBar{
  grid-column: 1;
  grid-row: 1/4;
  display: flex;
  margin: 0 auto;
  align-items: center;
  @media (max-width: $sm) {
    font-size: 16px;
    }
}

.navIcon {
  padding: 20px;
  border-radius: 50%;
}
.navIcon:hover {
  border-radius: 35px;
  padding: 20px;
  transition: ease .4s;
  @include themify($themes) { 
    color: themed('primary-color');
  }
  
}

.navbar {
  width: 90px;
  position: absolute;
  right: 0;
  left: 0;
  height: 8em;
  display: flex;
  color: $text-color ;
  @media (max-width: $sm) {
    display: none;
    }
 
  .navbar__icon {
    margin: 60px 0 auto 28px;
    padding: 15px;
    font-size: 26px;
    transition: transform 1s;
    @media (max-width: $md) {
      font-size: 20px;
    }
  @media (max-width: $sm) {
    font-size: 16px;
    }
  }
  .navbar__icon:hover {
    
    border-radius: 35px;
    transform: rotate(360deg);
    padding: 20px;
    
  }
}

aside {
  overflow-x: hidden;
  width: 0;
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  transition: width 0.5s ease-in-out;
  @media (max-width: $sm) {
    display: none;
    }
  ul {
    list-style: none;
    padding-top: 20px;
    .firs{
      margin-top: 50px;
    }
    li {
      font-size: 26px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      color: $text-color;
      padding: 12px 0 12px 22px;
      font-weight: 400;
      transition: transform 1s;
      cursor: pointer;
      @media (max-width: $md) {
        font-size: 20px;
      }
    @media (max-width: $sm) {
      font-size: 16px;
      }
      span{
        margin-left: 24px;
      }

      &.active {
        svg {
          border-right: 100px;
          @include themify($themes) {
            background: themed('primary-color') ;
          }
        }

        .navIcon:hover{
          color: white;
        }
      }
    }
    
  }
}
.drawerMin {
  width: 110px;
  @media (max-width: $md) {
    width: 100px;
  }
  @media (max-width: $sm) {
    width: 90px;
  }
}
.drawerOpen {
  width: 240px;
}

.mainMin {
  grid-template-columns: 100px auto;
  @media (max-width: $md) {
    grid-template-columns: 82px auto;
  }
  @media (max-width: $sm) {
    grid-template-columns: 77px auto;
  }
  
}
.mainOpen {
  grid-template-columns: 220px auto;
  @media (max-width: $md) {
    grid-template-columns: 180px auto;
  }
  @media (max-width: $sm) {
    grid-template-columns: 155px auto;
  }
}

footer{
  display: none;
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 85px; 
  @include themify($themes) { 
    color: themed('text-color');
    background: themed('backgroundMain') ;
  }
  @media (max-width: $sm) {
    display: flex;
  }

  ul{
    margin: 0 auto;
    list-style: none;
    display: flex;
    li {
      font-size: 14px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      color: $text-color;
      padding: 0px 0 0px 22px;
      cursor: pointer;
      
    
  }
  }
}

.signout{
  position: absolute;
  bottom: 60px;
  color: $text-color;
  padding-left: 40px;
  cursor: pointer;
}