

.box__container--description {  
    padding-top: 50px;
    width: 100%;
    
    transform: translateX(-50%);
    margin-left: 50%;
    transform: translateX(-50%);
    @include themify($themes) { 
    color: themed('text-color');
    background: themed('background') ;
}
}
.box__container--calendar {
    @include themify($themes) { 
        color: themed('text-color');
        background: themed('background') ;
}
}

.box__container--statistics {
    @include themify($themes) { 
        color: themed('text-color');
        background: themed('background') ;
}

}