.grap__container{
    margin-top: 1em;
    max-width: 40%;

    @media screen and (max-width:414px) {
        max-width: 90%; 
    }

    .title{
        font-size: 2.4em;
        margin-bottom: 1em;

        @media screen and (max-width:414px) {
            font-size: 2em;
            margin-bottom: .5em;
        }
    }
}