@import '../vars';

.container{
  width: auto;
 
    &__button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
        h1{
            padding-right: 20px;
            @media (max-width: $md) {
                font-size: 2.45rem;
              }
            @media (max-width: $sm) {
                font-size: 2.15rem;
              }
        }
        button{
            /* padding-right: 20px; */
            @media (max-width: $md) {
                width: 150px;
                height: 35px;
              }
            @media (max-width: $sm) {
                width: 80px;
              }
        }
        
    }
   

    &__content--project{
     
        font-size: 32px;
        border-radius: 35px;
        width: 100%;
        height: 80px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 10% 35% 20% 30% 5%;
        align-items: center; 
        justify-content: center;
        cursor: pointer;
        @media (max-width: $md) {
          font-size: 26px;
        }
      @media (max-width: $sm) {
        font-size: 20px;
        }
        
        @include themify($themes) { 
            color: themed('text-color');
          }

    }
   
    &__deahtline{
        
        div{
           background-color: #CBCBCB;
           border-radius: 50%;
           margin: 0px auto;
           width: 50px;
           height: 50px;
           @media (max-width: $sm) {
            display: none;
          }

       }
    }
}
.container__list{
 overflow-y: scroll;
 height: 450px;
}
.container__content--project:hover{
  @include themify($themes) { 
    color: themed('text-color');
    background: themed('background-project') ;
  }
}