@import '../vars';

.container{
  width: auto;
 
    &__button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
        h1{
            padding-right: 20px;
            @media (max-width: $md) {
                font-size: 2.45rem;
              }
            @media (max-width: $sm) {
                font-size: 2.15rem;
              }
        }
        button{
            /* padding-right: 20px; */
            @media (max-width: $md) {
                width: 150px;
                height: 35px;
              }
            @media (max-width: $sm) {
                width: 80px;
              }
        }
        
    }

    .project__header{
      display: flex;
      width: auto;
      justify-content: space-between;
      align-items: center;
      margin: 0 20px;

      @media screen and (max-width: 414px) {
        margin: 0;
      }

      .title{
        font-size: 2.4em;
        margin: 0;
        @media screen and (max-width: 414px) {
          font-size: 1.8em;

        }
      }

      .btn__project--add{
        @media screen and (max-width: 414px) {
          position: absolute;
          bottom: 104px;
          width: 90%;
        }
      }

      @media screen and (max-width: 414px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    &__content--project{
     
        font-size: 32px;
        border-radius: 35px;
        width: 100%;
        min-height: 50px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 10% 35% 20% 30% 5%;
        align-items: center; 
        justify-content: center;
        cursor: pointer;
        @media (max-width: $md) {
          font-size: 26px;
        }
      @media (max-width: $sm) {
        font-size: 20px;
        }
        
        @include themify($themes) { 
            color: themed('text-color');
          }

    }
   
    &__deahtline{
        
        div{
           background-color: #CBCBCB;
           border-radius: 50%;
           margin: 0px auto;
           width: 50px;
           height: 50px;
           @media (max-width: $sm) {
            display: none;
          }
       }
    }
}
.container__list{
  margin-top: 12px;
}
.container__content--project{
  display: flex;
  width: auto;
  justify-content: space-between;
  font-size: 1.3em;
  padding: 12px;
  margin-bottom: 8px;

  @media screen and (max-width: 414px) {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: auto;
    border-radius: 12px;
    @include themify($themes) { 
      background: themed('background');
    }

  }

  .container__name{
    width: 40%;
    padding: 0;
    font-weight: bold;

    @media screen and (max-width: 414px) {
      width: 100%;
      padding: 0;
    }
  }

  .container__category{
    width: 20%;
    padding: 0;
    @media screen and (max-width: 414px) {
      width: 100%;
      padding: 0;
      font-weight: 300;
    }
  }
  .container__start{
    width: 20%;
    padding: 0;
    @media screen and (max-width: 414px) {
      width: 100%;
      padding: 0;
      display: none;
    }
  }
  .container__deathline{
    width: 20%;
    padding: 0;
    @media screen and (max-width: 414px) {
      display: none;
      width: 100%;
      padding: 0;
    }
  }
}
.container__content--project:hover{
  @include themify($themes) { 
    color: themed('text-color');
    background: themed('background-project') ;
  }
}