@import '../vars';

.container{
  width: auto;
 
    &__button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
        h1{
            padding-right: 20px;
            @media (max-width: $md) {
                font-size: 2.45rem;
              }
            @media (max-width: $sm) {
                font-size: 2.15rem;
              }
        }
        button{
            /* padding-right: 20px; */
            @media (max-width: $md) {
                width: 150px;
                height: 35px;
              }
            @media (max-width: $sm) {
                width: 80px;
              }
        }
        
    }
   

    &__content{
     
        font-size: 32px;
        border-radius: 35px;
        width: 95%;
        height: 170px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 10% 30% 55% 5%;
        align-items: center; 
        justify-content: center;
        @include themify($themes) { 
            color: themed('text-color');
          }

    }
   
    &__deahtline{
        
        div{
           background-color: #CBCBCB;
           border-radius: 50%;
           margin: 20px auto;
           width: 72px;
           height: 72px;
       }
    }
}
.container__list{
 overflow-y: scroll;
 height: 450px;
}