@import "../vars";

.landing__container {
  background:#F0F4F9;
  width: 100%;
  min-height: 100vh;

  .landingHeader__container {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    @media screen and (max-width:414px) {
      padding-top: 50px;
    }
  }

  .ladingBody__container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, 1fr);
    
    margin: 0 auto;
    width: 100%;
    max-width: 1180px;
    min-height: 80vh;
    padding: 1.5em;


    @media screen and (max-width:414px) {
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    // justify-content: center;
    align-items: center;

    .title__container{
      grid-column: 1 / 2;
      grid-row: 1 / 6;

      @media screen and (max-width:414px) {
        grid-column: 1 / 3;
        grid-row: auto;
      }

      .headTitle{
        font-size: 4em;
        font-weight: 300;
        line-height: 1em;

        @media screen and (max-width:414px) {
          font-size: 34px;
          text-align: center;
          margin-bottom: 24px;
        }

        span{
          font-weight: bold;
        }
        margin-bottom: .3em;

        &.desktop{
          @media screen and (max-width:414px) {
            display: none;
          }
        }
    
        &.mobile{
          display: none;
          @media screen and (max-width:414px) {
            display: block;
          }
        }
      }

      .description{
        font-weight: normal;
        @media screen and (max-width:414px) {
          font-size: 1em;
          text-align: center;
        }
      }
    }

    .mockup__container{
      grid-column: 2 / 3;
      grid-row: 1 / 6;

      @media screen and (max-width:414px) {
        grid-column: 1 / 3;
        grid-row:auto;
      }
      

      .mockup{
        max-width: 100%;
      }
    }
  }

  .landing__btn{
    cursor: pointer;
    border: 1px solid #F89F26;
    color: #F89F26;
    text-transform: capitalize;
    transition: ease .4s;
    &:hover{
      background: #F89F26;
      color: white;
    }

    &.desktop{
      @media screen and (max-width:414px) {
        display: none;
      }
    }

    &.mobile{
      display: none;
      @media screen and (max-width:414px) {
        display: flex;
        min-width: 250px;
        margin: 24px auto;
      }
    }
  }

  .organge-text{
    color: #F89F26;
  }
}