@import '../vars';
  
  form {
    padding: 2rem;
    margin-top: 2rem;
    max-width: 23.75rem;
    border-radius: 3px;
  }
  
   h1 {
    margin-top: 0;
    margin-bottom:.5rem;
  
  }
  h4{
    margin-bottom: 35px;
  }
  a{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color:$text-color ;
}
   
  textarea {
    resize: vertical;
  }
  
