@import '../vars';
  
  form {
    padding-left: 2rem;
    /* margin-top: 2rem; */
    max-width: 23.75rem;
    border-radius: 3px;
  }
  
   h1 {
    margin-top: 0;
    margin-bottom:.5rem;
    @include themify($themes) { 
      color: themed('text-color');
    } 
  }
  h4{
    margin-bottom: 35px;
    color: rgb(194, 194, 194);
  }
  a{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color:$text-color ;
}
   
  textarea {
    resize: vertical;
  }
  
