@import './vars.scss';

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: fit-content;
    padding: 0.75rem 4rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 0.9rem;
    border: 3px solid transparent;
    border-radius: 100px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    
    i {
        font-size: 1.2rem;
        margin-right: 0.5rem;
        color: #fff;
    }

    &-primary {
        color: $icon-text-color;
        background-color: $icon-color;
        background-size: 200%;
        background-position: left;
        transition: background 0.3s ease-in-out;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        -ms-transition: background 0.3s ease-in-out;
        -o-transition: background 0.3s ease-in-out;
        transition: .4s ease;
        margin-bottom: 8px;

        &:hover {
            background-position: right;
            background-color: lighten($color: $icon-color, $amount: 8%);
            transform: scale(1.03);
        }
    }

    &-secondary {
        margin-right: 0.5rem !important;
        color: $secondary-text-color;
        background: transparent;
        border: 3px solid $secondary-text-color;

        &:hover {
            opacity: 0.7;
        }
    }

    &-close {
        top: 0;
        right: 0;
        position: absolute;
        padding: 1rem;
        background: transparent;

        i {
            margin: 0;
            cursor: pointer;

        }

        &:hover {
            opacity: 0.7;
        }
    }


}