@import './vars';



$themes: (
    light: (
        primary-color: $icon-color,
        background: $bg-light,
        text-color: $text-color,
        backgroundMain: $icon-text-color,
        backgroundInput: $container-color,
        background-project:$bg-light,
    ),
    dark: (
        primary-color: $icon-dark-color,
        background: $bg-dark-color,
        text-color: $icon-text-color,
        backgroundMain:$container-color-color ,
        backgroundInput: $component-dark-color,
        background-project:$component-dark-color,
    ),

);

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
        .#{$theme}-theme & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}