// font
$heading-font: 'Poppins', sans-serif;
$text-font:  'Poppins', sans-serif;

//color light mode
$text-color: #707070;
$secondary-text-color: #000002;
$icon-color:#F89F26;
$icon-text-color: #FFFFFF;
$bg-light: #F0F4F9; 
$container-color: #FFFFFF;
$component-color: #F1F5FB;

$error-color: #F27474;
$success-color: #6FCF97;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;


//color dark mode
$bg-dark-color:#070608;
$icon-dark-color:#F8C826;
$component-dark-color: #2D2D31;
$container-color-color: #1F1E25;
$text-dark-color:#FFFFFF;

//shadow
$shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);

// media Querys
$galaxy: 320px;
$iphone8: 375px;
$iphoneX: 414px;
$tablet: 768px;
$sm: 540px;
$md: 768px;
$lg: 1024px;



