@import './themes';
@import "./pages/index.scss";
@import "./components/layout.scss";
@import "./components/header.scss";
@import "./components/sidebar.scss";
@import "./vars.scss";
@import './input.scss';
@import "../styles/components/login.scss";
@import "../styles/components/signup.scss";
@import "../styles/components/newProject.scss";
@import "../styles/pages/newProyect.scss";
@import "./components/calendar/calendar.scss";
@import "./components/loader.scss";
@import "./components/projectComponent.scss";
@import "./components/projectTable.scss";
@import "./components/statistics.scss";
@import "./pages/projectDetail.scss";
@import './components/eventListItem.scss';
@import "./pages/landing.scss";
@import "./components/details.scss";
:root {
  font-family: $text-font;
  font-size: 16px;
}
body{
  background: #F0F4F9;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $heading-font;
  font-weight: 400;
  font-size: 3.15rem;
  line-height: 4rem;
}

.app__wrapper{
  min-height: 100vh;
  min-width: 100vw;
  @include themify($themes) { 
    background: themed('background');
  }
}

.text-right{
  text-align: right !important;
}
.text-left{
  text-align: left !important;
}
.text-center{
  text-align: center !important;
}

.back-btn{
  @include themify($themes) { 
    color: themed('text-color');
  }
}

.empty__space{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  text-align: center;
  @include themify($themes) { 
    color: themed('text-color');
  }
}

.mr-1{
  margin-right: .5em !important;
}
.mb-1{
  margin-bottom: .5em !important;
}

.light{
  font-weight: 300 !important;
}
.regular{
  font-weight: normal !important;
}
.bold{
  font-weight: bold !important;
}

@import './vars.scss';

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: fit-content;
    padding: 0.75rem 4rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 0.9rem;
    border: 3px solid transparent;
    border-radius: 100px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    
    i {
        font-size: 1.2rem;
        margin-right: 0.5rem;
        color: #fff;
    }

    &-primary {
        color: $icon-text-color;
        background-color: $icon-color;
        background-size: 200%;
        background-position: left;
        transition: background 0.3s ease-in-out;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        -ms-transition: background 0.3s ease-in-out;
        -o-transition: background 0.3s ease-in-out;
        transition: .4s ease;
        margin-bottom: 8px;

        &:hover {
            background-position: right;
            background-color: lighten($color: $icon-color, $amount: 8%);
            transform: scale(1.03);
        }
    }

    &-secondary {
        margin-right: 0.5rem !important;
        color: $secondary-text-color;
        background: transparent;
        border: 3px solid $secondary-text-color;

        &:hover {
            opacity: 0.7;
        }
    }

    &-close {
        top: 0;
        right: 0;
        position: absolute;
        padding: 1rem;
        background: transparent;

        i {
            margin: 0;
            cursor: pointer;

        }

        &:hover {
            opacity: 0.7;
        }
    }


}