
@import './themes';
@import "./pages/index.scss";
@import "./components/layout.scss";
@import "./components/headerLayout.scss";
@import "../styles/components/login.scss";
@import "../styles/components/signup.scss";
* {
  margin: 0;
  padding: 0;
}

.app__wrapper{
  min-height: 100vh;
  min-width: 100vw;
  @include themify($themes) { 
    background: themed('background');
  }
}


